/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

/*--------------------------------------------------------------
# Carousel
--------------------------------------------------------------*/
.carousel-container {
	width: 100%;
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.car-stage {
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	left: 0;
  	position: relative;
  	transition: all 0.2s ease-in-out;
}
.member > * {
	width: 100%;
	padding: 10px;
	pointer-events: none;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.carousel-nav > i {
	cursor: pointer;
	font-size: 3em;
}
.carousel-nav {
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	justify-content: center;
}
.active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
.full-car {
	position: absolute;
	background: rgba(0, 0, 0, 0.9);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	color: white;
}
.full-car .car-stage {
	margin: auto;
}
.car-full-buttons > * {
	cursor: pointer;
}
.car-full-buttons {
	display: flex;
	justify-content: flex-end;
}
.car-full-buttons > i {
	font-size: 3em;
}

/*--------------------------------------------------------------
# Grid
--------------------------------------------------------------*/
.grid-container {
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	flex-wrap: wrap;
}
.list-container {
	display: flex;
	flex-direction: column;
}
.list-container > * {
	width: 100%;
}