body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
.carousel-container {
	width: 100%;
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.car-stage {
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	transform: translateX(0px);
	transition: all 0.4s ease-in-out;
}
.member > * {
	width: 100%;
	padding: 10px;
}
.carousel-nav > i {
	cursor: pointer;
	font-size: 3em;
}
.carousel-nav {
	display: flex;
	justify-content: center;
}


/* De aici a scris Rada garbage css */

.form-styling {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: left;
	flex: 1;
}

span {
	text-align: left;
}

/* Si aici si-a terminat Rada garbage css-ul */