* {
    overflow: hidden; // no scroll
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Mono', monospace, sans-serif;
    //border: dotted;
    border-width: 0.3px;
    box-sizing: border-box; // padding in elements
                            // width and height
}

body {
    height: 100vh;
}

// variables for colors
$bgc: #333131; // secondary background
$bg: #1E1E1E;  // primary background
$text: #BBB9B9; //primary text
$textc: rgb(199,197,197);
$shading: rgba(0, 0, 0, 0.3);
$url: rgb(146, 179, 216);

.container-top {
    height: 10%;
}

.container {
    height: 84%;
}

header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;
    padding: 0em 1em;
    .logo {
        height: 120px;
        width: 240px;
    }

    nav ul {
        list-style-type: none;
        font-style: none;
        display: flex;
            li{
                margin: 0em 1em 0 1em;
                font-size: 1.1rem;
                a {
                    color: $text;
                    text-decoration: none;
                }
            }
            margin-right: 30px;
    }


}


.container-body {
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-content: flex-start;
    aside {
        height: 100%;
        order: 1;
     ul {
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         //padding-top: 2em;
     }
        background-color: $bgc;
        color: $text;
        flex-basis: 16%;
        li {
            padding-left: 1.5em;
            
        }
    }
  
}

.container-items-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    h1 {
        color: $textc;
        font-size: 1.3rem;
        display: inline-block;
    }

    img {
        width: 150px;
        border-radius: 40%;
    }
}

.aside-right {
    height: auto;
    width: 100%;
    order: 2;
    flex-basis: 84%;
    //padding-top: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/frontend/images/pep.jpg") ;
}

// shading effect on right container
.container-ocapacity {
    height: 100%;
    background-color: $shading;   
}


footer {
    //display: flex;
    height: 6%;
    background: $bg;
    width: 100%;  
    }


.footerp {
    height: 100%;
    font-size: 0.9rem;
    color: $text;
    margin: 1.5em 0 1.5em 0;
    text-align: center; 
    a {
        text-emphasis: none;
        text-decoration: none;
        font-size: 1rem;
        color: $url;
    }
}

//MOBILE ONLY:
.menu {
    visibility: hidden;
}

.hide-desktop {
    visibility: hidden;
}


@media only screen and (max-width: 600px) {
   
.aside-right {
        visibility: hidden;
}
    
aside {
        visibility: hidden;
}   

.logo {
    width: 250px;
    z-index: 8;
}

}
