/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

#carousel {
	justify-content: space-between;
}
.container > h2 {
	margin: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	font-weight: 400;
}
.form-styling {
	display: flex;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	transition: transform 0.3s ease;
}
.nav-container {
	display: none;
	justify-content: space-between;
	margin-bottom: 50px;
}
.nav-container > div {
	position: relative;
	visibility: visible;
}
.nav-container > div > i {
	color: white;
	font-size: 2.5em;
}
input, select {
	border: none;
	border-bottom: 4px solid #eee;
	padding: 15px 20px;
	width: 100%;
	transition: border-color 0.3s ease;
}
.prev {
	padding-left: 15px !important;
}
.next {
	padding-right: 15px !important;
}
input:focus {
	border-color: black;
}
.car-stage > #general {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.car-stage > div {
	display: flex;
	flex-direction: column;
	padding: 60px;
}
.car-stage > div > .fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 90%;
}
.car-stage > div > span {
	color: grey;
	margin-bottom: 10px;
	font-family: 'Ubuntu Mono', sans-serif;
	height: 10%;
}
.car-stage > div label {
	display: flex;
	flex-direction: column;
	position: relative;
}
.car-stage > div label span {
	text-transform: uppercase;
	font-size: 0.85em;
	color: white;
	text-align: left;
}
#general label:first-child {
	width: 100%;
}
#general label, .car-stage > div > .fields label {
	width: 45%;
	padding: 10px;
}
.car-stage > #navigation #nav-prev, .car-stage > #navigation #nav-next, .car-stage > #transition #auto-interval, .car-stage > #fullscreen #full-close, .car-stage > #fullscreen #full-open {
	display: none;
}
.select-container {
	display: flex;
	flex-direction: column;
	height: 47.6px;
	overflow: hidden;
	position: relative;
	transition: all 0.1s ease;
	position: absolute;
	top: 27px;
	width: 95%;
	z-index: 1;
}
select {
	display: none;
}
.select-container > span {
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	height: 47.6px;
	min-height: 47.6px;
	border-bottom: 4px solid #eee;
	background-position: center;
  	transition: background 0.4s;
  	padding-left: 10px;
  	font-size: 0.85em;
}
.select-container > span:hover {
	background: #fff radial-gradient(circle, transparent 1%, #fff 1%) center/15000%;
}
.select-container > span:active {
	background-color: #d9d9d9;
  	background-size: 100%;
  	transition: background 0s;
}
.select-container > span > * {
	margin: auto 0 auto 0;
}
.options-container > * {
	height: 47.6px;
	display: flex;
	cursor: pointer;
}
.options-container > div > p {
	width: 90%;
	text-align: left;
	margin: auto;
}
.options-container > *:hover {
	background: #d9d9d9;
	transition: all 0.2s ease;
}
.options-container > * p {
	margin: auto 0 auto 0;
}
.options-container div:not(:last-child) {
	border-bottom:1px solid #d9d9d9;
}
.options-container {
	position: absolute;
	top: 47.6px;
	width: 100%;
	background: #eee;
}
#carousel {
	min-width: 100%;
}
.select-container > span i {
	transition: all 0.1s ease;
}
.select-container > span .rotated {
	transform: rotate(180deg);
}
.show > span {
	border-color: black;
}
.insert-breakpoint input {
	border: none;
}
.insert-breakpoint {
	border-bottom: 4px solid #eee;
	display: flex;
}
.insert-breakpoint i {
	margin: auto;
	cursor: pointer;
	margin-left: -40px;
}
#responsive-settings {
	overflow-y: auto;
	max-height: 100%;
}
.car-stage {
	height: 100%;
}
.new-breakpoint #transition, .new-breakpoint #navigation, .new-breakpoint #fullscreen {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
}
.new-breakpoint {
	width: 95% !important;
	margin: 0 auto 0 auto;
}
.new-breakpoint #transition > span , .new-breakpoint #navigation > span , .new-breakpoint #fullscreen > span {
	display: none;
}
.new-breakpoint > div:not(:first-child) {
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px;
	border: 1px solid #eee;
	display: none;
	overflow-y: auto;
	max-height: 80%;
}
.new-breakpoint .select-container {
	width: 100%;
	top: 17.2px;
}
#transition .fields #autoselect {
	height: 90px;
	overflow: visible;
}
.new-breakpoint #autoselect {
	z-index: 4;
}
.new-breakpoint #navselect {
	z-index: 3;
}
.new-breakpoint #fullscreenselect {
	z-index: 2;
}
.new-breakpoint > div label {
	height: 64.8px;
	width: 45%;
	margin-top: 20px;
	overflow: visible;
}
.new-breakpoint > div {
	padding: 10px;
}
#add-more {
	width: 30%;
	margin: auto;
    margin-top: auto;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	background: #eee;
	border-radius: 4px;
	padding: 10px;
	color: black;
	background-position: center;
  	transition: background 0.4s;
}
#add-more:hover {
	background: #eee radial-gradient(circle, transparent 1%, #eee 1%) center/15000%;
}
#add-more:active {
	background-color: #d9d9d9;
  	background-size: 100%;
  	transition: background 0s;
}
#resources {
	overflow-y: auto;
	overflow-x: hidden;
}
#resources > div {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
#resources > div > * {
	margin: auto;
}
#resources > div i {
	margin-left: -60px;
	cursor: pointer;
}
#resources > div input {
	margin-left: 0;
}
#final {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#final button {
	width: 200px;
	background: transparent;
	border-radius: 50px;
	border: 1px solid white;
	color: white;
	padding: 15px 10px;
	cursor: pointer;
}
#final > * {
	margin: auto;
}
#final span {
	height: 0.8px;
	width: 150px;
	background: white;
}
#album-options {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	margin: auto;
	justify-content: space-around;
}
#album-options > div {
	display: flex;
	width: 45%;
	background: #eee;
	padding: 20px 30px;
	cursor: pointer;
	justify-content: center;
	margin-bottom: 25px;
}
#album-options > div:hover {
	background: #d6d6d6;
}
#album-options > div > * {
	margin: auto 0;
}
#album-options > div span {
	margin-left: 10px;
}
#resource-select {
	width: 100%;
}
#resource-select > label {
	height: 87.6px;
	width: 100%;
}
#resource-select .select-container {
	width: 40%;
}
#token_album_form {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: column;
}
#token_album_form div {
	text-align: center;
}
#fullscreen_grid, #format_grid {
	overflow: visible;
}

@media screen and (max-width: 900px) {
	label {
		width: 100% !important;
		min-height: 84.88px;
	}
	.fields {
		overflow-y: auto;
		min-height:100%;
	}
	.nav-container {
		margin-top: 20px;
	}
	.car-stage > div {
		min-height: 100%;
	}
	#add-more {
		width: 50%;
	}
	#resources, #responsive-settings {
		max-height: 100%;
		overflow-y: auto;
	}
	#responsive-settings .insert-breakpoint input {
		padding: 10px;
	}
}
