/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: #eee;
}
* {
	box-sizing: border-box;
	font-family: 'Ubuntu Mono', sans-serif;
}

/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

/* De aici a scris Rada garbage css */

button {
	display: block;
	width: 100%;
}

.container {
	display: flex;
	height: auto;
	margin: auto;
}

.center {
	text-align: center;
}

.albums_show {
	display: none;
	width: 80%;
	margin: 0 auto;
	flex-direction: column;
}

/* Si aici si-a terminat Rada garbage css-ul */
input, select {
	width: 100%;
	border-radius: 4px;
	padding: 10px;
	border: 1px solid #ebebeb;
}
.form-styling {
	background: white;
	border-radius: 30px;
	padding: 50px;
	margin: 40px auto 40px auto;
	width: 50%;
	min-width: 600px;
}
label {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
label span {
	text-align: left;
	width: 100%;
	text-transform: uppercase;
	font-size: 0.8em;
}
.form-styling > h2 {
	margin: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #ebebeb;
	font-weight: 400;
}
.form-styling #general label, .form-styling #transition label, .form-styling #navigation label, .form-styling #fullscreen label {
	width: 50%;
	padding: 10px;
}
.form-styling > div > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.form-styling > div > span {
	background: white;
	position: relative;
	bottom: -9px;
	left: 20px;
	padding: 0 10px 0 10px;
}
#transition, #navigation, #fullscreen {
	border: 1px solid #ebebeb;
	padding: 20px;
	margin-bottom: 40px;
}
#general {
	margin-bottom: 20px;
}
#auto-interval {
	display: none;
}
.auto-interval-show {
	display: flex !important;
}
#nav-next, #nav-prev, #full-close, #full-open {
	display: none;
}
.show {
	display: flex !important;
}
button {
	cursor: pointer;
	border-radius: 15px;
	border: none;
	background: #57b846;
	color: white;
	padding: 10px;
	width: 50%;
	margin: 20px auto auto auto;
	text-transform: uppercase;
	font-size: 1em;
}
button:hover {
	background: #50a840;
}
.new-breakpoint {
	justify-content: space-around;
	cursor: pointer;
	width: 50%;
	margin: auto;
	border-radius: 4px;
	background: #ebebeb;
	padding: 7px 0 7px 0;
}
.new-breakpoint > * {
	margin-top: auto;
	margin-bottom: auto;
}

@media screen and (max-width: 650px) {
	.form-styling {
		width: 95%;
		min-width: 0px;
		padding: 30px 15px;
		border-radius: 10px;
	}
	#transition, #navigation {
		padding: 10px;
	}
	.form-styling #general label, .form-styling #transition label, .form-styling #navigation label, .form-styling #fullscreen label {
		padding: 10px;
	}
	button {
		width: 90%;
	}
}

@media screen and (max-width: 400px) {
	.form-styling #general label, .form-styling #transition label, .form-styling #navigation label, .form-styling #fullscreen label {
		width: 100%;
	}
}