
@media only screen and (max-width: 600px) {



//$primary: #30CBEB;
$primary: #1E1E1E;

body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace, sans-serif;
}

p {
    font-size: 1em;
    
    letter-spacing: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: .4em 1.2em;
}

.logo {
    width: 130px;
    z-index: 8;
}

.hide-mobile {
display: none;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu{
    margin-top: 100%;
}

h1 {
    margin-top: 5%;
    margin-bottom:3%;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1px;
    font-size: 3.4rem;
}

.subtitle {
    font-size: 1em;
    padding-top: 10px;
}

h1, .subtitle {
    position: relative;
    z-index: 3;
}

.blue-container {
    width: 100%;
    background: $primary;
    color: #BBB9B9;
    margin-top: 3%;
    padding: 1.4em 0 1.4em;
    border-top-left-radius: 40px;

    & ul li {
        margin-bottom: 1em;
    }

    & img {
        width: 20%;
        margin-bottom: 1em;
    }

    & ul li p {
        padding: 0 .5em;
    }

    &ul li:nth-child(3) img {
        width: 8%;
    }

}


.footer_button_mobile {
    background: #fff;
    width: calc(100% -2em);
    display: block;
    color: $primary;
    border-radius: 15px;
    padding: .4em;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    z-index: 4;
}

.footer-container {
    width: 100%;
    color: black;
}

.footer-links  {
    margin: 0 auto;
    & li {
        display: inline-block;
    & a {
        font-size: 0.8em;
        color: #9d9d9d;
        text-decoration: none;
    }
}
}

p.project-name {
   font-size: 0.8em;
   margin: 0.2em;
}

nav ul {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(192, 198, 201);
    height: 100%;
    z-index: 7;
    padding-top: 3em;

    & li a {
        color: rgb(85, 85, 85);
        text-decoration: none;
        display: block;
        height: 100%;
        padding: 0.4em 2em;
        background-color: rgb(192, 198, 201);
    }

    & li a:hover {
        background-color: rgb(162, 170, 175);
        color: #fff;
    }
}

.exit-btn {
    margin-bottom: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0 1.4em;
    & img {
        cursor: pointer;
    }
}

}